[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "jinchengjoker.github.io"]
	path = jinchengjoker.github.io
	url = git@github.com:JinChengJoker/jinchengjoker.github.io.git
